asgiref==3.5.0
astroid==2.11.2
certifi==2021.10.8
charset-normalizer==2.0.12
colorama==0.4.4
coverage==4.5.2
dill==0.3.4
Django==4.0.4
django-bootstrap-form==3.4
django-filter==21.1
django-static-precompiler==2.1
django-utils-six==2.0
djangorestframework==3.13.1
docopt==0.6.2
et-xmlfile==1.1.0
idna==3.3
isort==5.10.1
jdcal==1.4.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
openpyxl==3.0.9
Pillow==9.1.0
platformdirs==2.5.2
pylint==2.13.5
pylint-django==2.5.3
pylint-plugin-utils==0.7
pytz==2022.1
requests==2.27.1
rope==1.0.0
sqlparse==0.4.2
tomli==2.0.1
tzdata==2022.1
urllib3==1.26.9
wrapt==1.14.0
yarg==0.1.9